*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
.idea
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
gradle/.tmp/
gradle/android/
gradle/caches/
gradle/daemon/
gradle/kotlin-profile/
gradle/native/
gradle/wrapper/dists/
build/
proguard/
*.log
.navigation/
captures/
*.jks
*.keystore
.cxx/
google-services.json
vcs.xml
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
*.hprof
**/.DS_Store
.DS_Store
.claude
CLAUDE.md
